scores.dat
*.spec
gif/*
zip.script
text/future_changes.txt
text/convert_info.txt
text/tweet.txt
text/prepare_release.notes
text/blog.txt
text/Game\ measurements.txt
dist/*
old_versions/*
build/*
__pycache__/*
.*.swp
